@import "variables.scss";
.Root {
  background-color: $mainColor;
  height: 100%;
  margin-top: 55px;
  margin-bottom: 55px;
  color: $whiteTranBgc;
}
.Fields {
  padding: 0 40px;
  > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.Message {
  > div {
    position: relative;
  }
}