.btn-transparent
{
    font-weight: bolder;

    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-submit
{
    font-weight: bolder;

    color: #44b04c;
    background-color: white;
}


.button-groups
{
    margin-top: 60px;
    margin-bottom: 15px;
}
