.img
{
    min-width: 100%;
}

.issueTime
{
  font-size: 12px;
}


.icon-container
{
  border-radius: 4px;
  background-color: #f4f4f4;

  padding: 5px 2px;

  margin-right: 5px;

  font-size: 12px;
}
