@import "variables.scss";

.box {
  display: flex;
}

.filter {
  position: relative;
  font-size: $px12;
  color: $secondaryFontColor;
  display: flex;
  align-items: center;
  margin-right: 5*$px1;
}

.filterIcon {
  font-size: 18*$px1;
}
