.container {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Image {
  display: inline-block;
  margin: 10px 10px 0 0;
  float: left;
  height: 90px;
  width: 90px;
  background-color: #e8e8e8;
  > img {
    width: 100%;
    height: 100%;
  }
}

.AddImage {
  display: inline-block;
  margin: 10px 10px 0 0;
  float: left;
  height: 93px;
  width: 93px;
  background-color: transparent;
  text-align: center;
  border: 1px dotted white;
  > i {
    vertical-align: middle;
    height: 60px;
    margin-top: 17px;
    font-size: 48px;
  }
  > input {
    display: none;
  }
}
