@import "variables.scss";

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 990;
  display: none;
}

.show {
  display: block
}

.mask{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0,0,0, .5);
}

.list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 84%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow: auto;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.active {
  background-color: $mainColor;
  color: #fff;
}

.listItem {
  list-style: none;
  padding-left: $px1 * 24;
  height: $px1 * 40;
  line-height: $px1 * 40;
}
