.Root {
  margin-top: 55px;
}

.H2 {
  padding-top: 1rem;
  text-align: center;
}

.PriceInfo {
  height: 152px;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.PriceTip {
  height: 22px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: normal;
  color: #1cca5a;
  text-align: center;
}

.Price {
  height: 100px;
  font-family: PingFangSC;
  font-size: 36px;
  font-weight: normal;
  color: #1cca5a;
  text-align: center;
}

.Button {
  width: 295px;
  height: 44px;
  border-radius: 5px;
  background-color: #2245b4;
  color: #FFFFFF;
}

.ButtonGroup {
  text-align: center;
  padding: 2rem;
};
