@import 'variables.scss';

.news
{
    margin-bottom: 20px;

    color: #333;
}

.text
{
    font-size: $px10;
}

.icon-container
{
    margin-right: 10px;
}

.icon
{
    vertical-align: middle;
}

.marginRight5
{
    margin-right: 5px;
}

.provider-icon
{
    width: 30px;
    height: 30px;
}
