@import "variables.scss";

.container {
  height: $topNavHeight;
  background-color: $whiteTranBgc;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 4;
  line-height: $topNavHeight;
  box-sizing: border-box;
  border-bottom: 1px solid $borderColor;
  transition: all .3s;
  &.transparent {
    background-color: transparent;
    border-bottom-color: transparent;
    .title {
      color: transparent;
    }
  }
}

.title {
  position: absolute;
  color: $mainFontColor;
  font-size: 11*$px1;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 $topNavHeight + 10*$px1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
}

.left, .right {
  float: left;
  position: relative;
  z-index: 3;
  min-width: 56*$px1;
  text-align: center;
}

.right {
  float: right;
}

.nav-back
{
    font-weight: bold;
    line-height: 30px;

    margin: 0 3px;

    color: #5cb85c;
}

.nav-back-icon
{
    font-size: 18px;

    width: 32px;
    height: 32px;

    color: #5cb85c;
}

.caption
{
    margin-left: -32px;
}

