/**/
/* Layout classes*/
/* --------------------------------------------------*/

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

html,
body
{
    font-family: 'Microsoft Yahei', 微软雅黑, Tahoma, Arial, Helvetica, STHeiti;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wetennis
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 100%; /* 1, 3 */

    -ms-flex-direction: column;
}

.wetennis-header,
.wetennis-footer
{
    -ms-flex: none;
        flex: none; /* 2 */
}

.wetennis-body
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex: 1 0 auto;
        flex: 1 0 auto; /* 2 */
    -ms-flex-direction: column;
}

.wetennis-content
{
    margin-top: var(--space);
}

.wetennis-nav
{
    -ms-flex-order: -1;
    order: -1;
}

.wetennis-nav,
.wetennis-ads
{
    padding: 1em;

    border-radius: 3px;
    background: rgba(147, 128, 108, .1);
}

@media (--break-lg)
{
    .wetennis-body
    {
            flex-direction: row;

        -ms-flex-direction: row;
    }
    .wetennis-content
    {
        margin: 0;
        padding: 0 var(--space-lg);

        -ms-flex: 1;
            flex: 1;
    }
    .wetennis-nav,
    .wetennis-ads
    {
        -ms-flex: 0 0 12em;
            flex: 0 0 12em;
    }
}

.page-container,
{
    height: 100%;
}

.wetennis-footer-container
{
    height: 49*$px1;
}
.wetennis-footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    padding-top: 5px;

    border-top: 1px solid #eee;
    background-color: white;
}

.container
{
    width: 100%;
}

.dropdown
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    border: none;
}
