@import 'vendor/bootstrap';

@import 'variables';


/**/
/* Base*/
/* --------------------------------------------------*/

@import 'base/font';

/**/
/* Move all utility and helper classes to the very end of your CSS in order to introduce a spike right at the end,*/
/* meaning you’re far less likely to have to undo or override high specificity selectors in your subsequent work.*/
/* But it must not be higher that CSS of pages.*/
/* --------------------------------------------------*/
@import 'base/utility';


/**/
/* Layout*/
/* --------------------------------------------------*/

@import "layout";

/**/
/* Components*/
/* --------------------------------------------------*/

@import "components/form";
@import "components/grid";
@import "components/button";
@import "components/dragula";

/* Some best-practice CSS that's useful for most apps*/
/* Just remove them if they're not what you want*/
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
}

a:hover
{
  text-decoration: none;
}

