$mainColor: #1cca5a;
$secondaryColor: #c9d1d1;
$mainFontColor: #4a4a4a;
$secondaryFontColor: #929292;
$thirdFontColor: #262626;
$whiteTranBgc: rgba(255, 255, 255, .96);
$topNavHeight: 3.5rem;
$borderColor: #ddd;
$px14: 0.875rem;
$px12: 0.75rem;
$px10: 0.624rem;
$px8: 0.5rem;
$px1: 0.0625rem;
