@import "variables.scss";

.container {
  height: $topNavHeight;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 4;
  line-height: $topNavHeight;
  box-sizing: border-box;
  i {
    color: $whiteTranBgc;
    margin-right: 10px;
  }

}

.title {
  position: absolute;
  text-align: center;
  color: $whiteTranBgc;
  font-size: 1rem;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.left {
  float: left;
  position: relative;
  z-index: 3;
}

.right {
  float: right;
  position: relative;
  z-index: 3;
}

.nav-back
{
    font-weight: bold;
    line-height: 30px;

    margin: 0 3px;

    color: #5cb85c;
}

.nav-back-icon
{
    font-size: 18px;

    width: 32px;
    height: 32px;

    color: #5cb85c;
}

.caption
{
    margin-left: -32px;
}

