@import 'variables.scss';

.container
{
    margin-top: $topNavHeight;
}

.keywordListContainer
{
    margin: 30px 0;
}

.badge
{
    margin-right: 10px;
    padding: 5px 10px;

    color: #4d693c;
    background-color: rgba(139, 206, 144, .3);
}
