@import "variables.scss";

.navTransiton {
  transition: all .5s;
}

.info {
  margin-right: 3px;
}

.nav {
  background-color: transparent;
  border-bottom: none;
  i {
    color: #fff;
  }
}

.topRightButton {
  display: flex;
  height: $topNavHeight;
  > div, a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5*$px1;
    color: $mainColor;
  }
}
