@import 'variables.scss';

$thumbSize: 48*$px1;
$thumbPosi: 15*$px1;
$startedColor: #d8d8d8;
$startedActiveColor: $mainColor;

.banner {
  position: relative;
  max-height: 300*$px1;
  overflow: hidden;
}

.thumb {
  position: absolute;
  right: $thumbPosi;
  bottom: $thumbPosi;
  border-radius: 50%;
  width: $thumbSize;
  height: $thumbSize;
}

.bannerImg {
  max-width: 100%;
  max-height: 100%;
}

.name {
  margin-right: $thumbPosi + 65*$px1;
  font-size: 18*$px1;
  color: #fff;
  position: absolute;
  left: $thumbPosi;
  bottom: $thumbPosi;
  height: $thumbSize;
  overflow: hidden;
  &:before, span {
    vertical-align: middle;
    display: inline-block;
  }
  &:before {
    content: "";
    height: 100%;
    width: 0;
  }
}

.midInfo {
  background-color: $mainColor;
}

.icons {
  font-size: 24*$px1;
  left: 15*$px1;
  position: absolute;
  line-height: 66*$px1;
  height: 100%;
}

.location, .time {
  display: inline-block;
  height: 66*$px1;
  font-size: 10*$px1;
  color: #fff;
  line-height: 1.2;
  position: relative;
  padding-left: 45*$px1;
  &:before, span {
    vertical-align: middle;
    display: inline-block;
  }
  &:before {
    content: "";
    height: 100%;
    width: 0;
  }
}

.location {
  width: 60%;
}

.time {
  width: 40%;
}

.countdown {
  color: $mainColor;
  height: 80*$px1;
  line-height: 80*$px1;
  font-size: 36*$px1;
  text-align: center;
  
  i {
    font-size: 10*$px1;
    font-style: normal;
    margin-right: 17*$px1;
  }
}

.started {
  height: 100*$px1;
  text-align: center;
  padding: 20*$px1 0;
}

.startedCol {
  width: 33.33%;
  display: inline-block;
  i {
    border: 2*$px1 solid $startedColor;
    color: $startedColor;
    border-radius: 50%;
    height: 40*$px1;
    line-height: 36*$px1;
    width: 40*$px1;
  }
  div {
    color: $startedColor;
    font-size: 10*$px1;
    margin-top: 8*$px1;
  }
}

.startedActive {
  i {
    color: $startedActiveColor;
    border-color: $startedActiveColor;
  }
  
  div {
    color: $startedActiveColor;
  }
}
