@import "variables.scss";

.list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    position: relative;
    margin: 15*$px1 35*$px1;
    &:before {
      content: "";
      position: absolute;
      left: -20*$px1;
      top: 0;
      height: 10*$px1;
      width: 10*$px1;
      background-color: $mainColor;
      border-radius: 50%;
    }
  }
}

.time {
  font-size: 10*$px1;
  line-height: 1;
  color: $secondaryFontColor;
}

.context {
  margin-top: 5*$px1;
  font-size: 12*$px1;
  color: $mainFontColor;
  line-height: 1.5;
}
