@import "variables.scss";
.Root {
  background-color: $mainColor;
  color: $whiteTranBgc;
}
.Fields {
  padding: 0 40px;
  > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.imgContainer {
  min-height: 300px;
  > img {
    width: 100%;
    height: 100%;
  }
}

.AddImage {
  input {
    display: none;
  }
}