.dragula-target-container {
  flex-direction: column;

  width: 100%;
  min-height: 150px;

  border: 1px dashed #ccc;
}

.dragula-target-container.has-item {
  border: none;
}

.add-icon {
  font-size: 48px;

  color: #ccc;
}
