.signin-background
{
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;
    height: auto;
}

.form-container
{
    position: absolute;
    top: 80px;
    left: 40px;
}

.text
{
    font-size: 84px;
    line-height: .8;

    width: 241px;
    height: 160px;

    letter-spacing: -5px;

    color: #fff;
}
