.li {
  display: block;

  padding: 6px 15px;
}

.li:hover {
  cursor: pointer;
}

.selected {
  color: white;
  background-color: #5cb85c;
}

.fontcolor {
  color: #5cb85c;
}

:global
{
    .register
    {
        .panel-default
        {
            border: none;
        }

        .panel-body
        {
            padding: 15px 0;
        }

        .panel-title
        {
            a
            {
                cursor: pointer;
                display: block;
            }
        }
    }
}

.MarginTop {
  margin-top: 55px;
}

.right {
  text-align: right;
}

.yen {
  font-size: 16px;

  font-family: Arial, sans-serif;
}

.price {
  font-size: 72px;

  display: inline-block;
}

.submit-button {
  background-color: #2245b4;
}

.add-partner-link,
.update-partner-link {
  margin-left: 10px;
}

.update-partner-link {
  margin-left: 15px;
}
