@import "variables";
$space: 1.25rem;
$thumbSize: 3.75rem;

.eventList {
  background-color: #fff;
}

.icons {
  font-size: 14*$px1;
  vertical-align: middle;
  padding-bottom: $px1;
  margin-right: 5*$px1;
}

.eventList-item {
  padding: $space 0;
  margin: 0 $space;
  border-bottom: 1px solid $borderColor;
  overflow: hidden;
  display: block;
  color: $mainFontColor;
  font-size: $px14;
  position: relative;
}
.eventList-thumb{
  height: $thumbSize;
  width: $thumbSize;
  background-color: $borderColor;
}
.eventList-type{
  text-align: center;
  position: absolute;
  right: 0;
  top: $px10 * 2;
  border: 1px solid #ccc;
  width: $px10 * 4;
  border-radius: 3px;
  font-size: $px8;
  line-height: 1rem;
  color: $secondaryFontColor;
}

.eventList-name {
  font-size: 1rem;
  margin-bottom: $px10 / 2;
  color: $secondaryFontColor;
  margin-top: -4*$px1;
}

.eventList-date, .eventList-location {
  font-size: $px12;
  color: $secondaryFontColor;
}

.eventList-left{
  float: left;
}

.eventList-right{
  margin-left: $thumbSize + $px10;
  margin-right: $px10 * 5;
}
