@import "variables.scss";

.container {
  color: $whiteTranBgc;
}

.imgContainer {
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
}

.AddImage {
  input {
    display: none;
  }
}

.form {
  position: fixed;

  bottom:  15px;
}
