//
// Utility classes
// Syntax: u-<utilityName>
// --------------------------------------------------

// Margins, Padding, Width, etc...
// -------------------------

.u-paddingLeft0
{
  padding-left: 0;
}

.u-paddingRight0
{
  padding-right: 0;
}

.u-backgroundTransparent
{
    background-color: transparent;
}
