@import 'variables';

.button-groups
{
    margin-top: 60px;
}

.forget-password-link
{
    padding-top: 20 * $px1;

    cursor: pointer;

    color: white;

    font-size: 12px;
}

.submitButton
{
    font-size: 14px;
    color: #44b04c;
}

.RegisterButton
{
    font-size: 14px;
}
