.group-name {
  padding: 15px;

  background-color: #f5f5f5;
}

.price-info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.price-tip {
  font-size: 16px;

  color: #1cca5a;
}

.price {
  font-size: 76px;

  color: #1cca5a;
}

.pay {
  padding: 0 15px;
}

.green {
  color: #1cca5a;
}

.button-container {
  margin: 30px 15px;
}
