$playLineHeight: 2rem;

.highlight
{
  color: white;
}

.event-game-score
{
  margin: 10px;
}

.player-name
{
  font-size: .8rem;
}

.player-icon
{
  display: inline-block;

  width: 16px;
  height: 16px;
  margin: 0 5px;

  border-radius: 50% 50%;
}

.player-1
{
  line-height: $playLineHeight;

  display: inline-block;

  margin-right: 10px;
  padding: 4px;

  background-color: red;
}

.player-2-container
{
  margin-top: 10px;
}

.player-2
{
  line-height: $playLineHeight;

  display: inline-block;

  margin-right: 10px;
  padding: 4px;

  background-color: blue;
}

.game-score
{
  line-height: $playLineHeight;

  display: inline-block;

  margin-right: 20px;

  color: gray;
}

.game-score.highlight
{
  color: white;
}


.living-score-container
{
  padding: 20px 20px 30px 20px;

  color: white;
  background-color: blue;
}

.living-score
{
  font-size: 48px;

  text-align: center;
}

