.highlight
{
    color: white;
}

.chunk
{
    display: flex;

    align-items: center;
    justify-content: center;

    margin: 30px;
}

.chunk-container
{
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.chunk-label
{
    color: gray;
}
