//
// Utility classes
// Syntax: u-<utilityName>
// --------------------------------------------------

// Margins, Padding, Width, etc...
// -------------------------

.u-paddingLeft0
{
    padding-left: 0;
}

.u-paddingRight0
{
    padding-right: 0;
}

.u-backgroundColorTransparent
{
    background-color: transparent;
}

.u-errorText
{
    color: #f44336;
}

.u-backgroundColorGreen
{
    background-color: #1cca5a;
}

.u-backgroundColorBlack
{
    background-color: #000;
}

.u-verticalAlignMiddle
{
    vertical-align: middle;
}

