/**/
/* Utility classes*/
/* Syntax: u-<utilityName>*/
/* --------------------------------------------------*/

/* Margins, Padding, Width, etc...*/
/* -------------------------*/

.u-textAlignCenter {
  text-align: center;
}

.u-paddingLeft0 {
  padding-left: 0;
}

.u-paddingRight0 {
  padding-right: 0;
}

.u-marginRight5 {
  margin-right: 5px;
}

.u-marginRight10 {
  margin-right: 10px;
}

.u-backgroundColorTransparent {
  background-color: transparent;
}

.u-errorText {
  color: #f44336;
}

.u-backgroundColorGreen {
  background-color: #1cca5a;
}

.u-backgroundColorBlack {
  background-color: #000;
}

.u-verticalAlignMiddle {
  vertical-align: middle;
}

.u-aligner {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.u-has-nav {
  padding-top: 3.5em;
}

.u-bgGrey {
  padding: 15px 0;

  background-color: grey;
}
